In [40]:
import requests as r
import json
import pandas as pd

In [42]:
city_list = ["Mont Saint Michel",
"St Malo",
"Bayeux",
"Le Havre",
"Rouen",
"Paris",
"Amiens",
"Lille",
"Strasbourg",
"Chateau du Haut Koenigsbourg",
"Colmar",
"Eguisheim",
"Besancon",
"Dijon",
"Annecy",
"Grenoble",
"Lyon",
"Gorges du Verdon",
"Bormes les Mimosas",
"Cassis",
"Marseille",
"Aix en Provence",
"Avignon",
"Uzes",
"Nimes",
"Aigues Mortes",
"Saintes Maries de la mer",
"Collioure",
"Carcassonne",
"Ariege",
"Toulouse",
"Montauban",
"Biarritz",
"Bayonne",
"La Rochelle"]

Recup des coordonnées du top 35 des villes de France

In [43]:
base_endpoint = 'https://nominatim.openstreetmap.org/search?'

In [45]:
params = {'q': 'Gorges du Verdon', 'format': 'json'}
response = r.get(base_endpoint, params= params)
response.status_code

200

In [46]:
'france' in response.json()[0]['display_name'].lower()

True

In [47]:
for elem in response.json():
    print(elem['display_name'])

Gorges du Verdon, Route des Crêtes, Les Ferrailles, La Palud-sur-Verdon, Castellane, Alpes-de-Haute-Provence, Provence-Alpes-Côte d'Azur, France métropolitaine, 04120, France
Gorges du Verdon, Route des Gorges du Verdon, Castellane, Alpes-de-Haute-Provence, Provence-Alpes-Côte d'Azur, France métropolitaine, 04120, France
Gorges du Verdon, Chemin de la Mescla, La Palud-sur-Verdon, Castellane, Alpes-de-Haute-Provence, Provence-Alpes-Côte d'Azur, France métropolitaine, 04120, France
Gorges du verdon, Distrito Ciudad de Malargüe, Departamento Malargüe, Mendoza, Argentina

In [48]:
for city in response.json():
    if 'france' in city['display_name'].lower():
        print(city['display_name'])
        break

Gorges du Verdon, Route des Crêtes, Les Ferrailles, La Palud-sur-Verdon, Castellane, Alpes-de-Haute-Provence, Provence-Alpes-Côte d'Azur, France métropolitaine, 04120, France

In [49]:
coordinate_list = []

for i, city in enumerate(city_list):
    params = {'q': city, 'format': 'json'}
    response = r.get(base_endpoint, params= params)

    for search_result in response.json():
        if 'france' in search_result['display_name'].lower():
            coordinate_list.append((city, search_result['lat'],search_result['lon']))
            print(f'{i} request completed')
            break

0 request completed
1 request completed
2 request completed
3 request completed
4 request completed
5 request completed
6 request completed
7 request completed
8 request completed
9 request completed
10 request completed
11 request completed
12 request completed
13 request completed
14 request completed
15 request completed
16 request completed
17 request completed
18 request completed
19 request completed
20 request completed
21 request completed
22 request completed
23 request completed
24 request completed
25 request completed
26 request completed
27 request completed
28 request completed
29 request completed
30 request completed
31 request completed
32 request completed
33 request completed
34 request completed

In [50]:
len(coordinate_list)

35

In [51]:
len(city_list)

35

In [53]:
city_list[29]

'Ariege'

In [71]:
coordinate_list

[('Mont Saint Michel', '48.6359541', '-1.511459954959514'),
 ('St Malo', '48.649518', '-2.0260409'),
 ('Bayeux', '49.2764624', '-0.7024738'),
 ('Le Havre', '49.4938975', '0.1079732'),
 ('Rouen', '49.4404591', '1.0939658'),
 ('Paris', '48.8588897', '2.3200410217200766'),
 ('Amiens', '49.8941708', '2.2956951'),
 ('Lille', '50.6365654', '3.0635282'),
 ('Strasbourg', '48.584614', '7.7507127'),
 ('Chateau du Haut Koenigsbourg', '48.249489800000006', '7.34429620253195'),
 ('Colmar', '48.0777517', '7.3579641'),
 ('Eguisheim', '48.0447968', '7.3079618'),
 ('Besancon', '47.2380222', '6.0243622'),
 ('Dijon', '47.3215806', '5.0414701'),
 ('Annecy', '45.8992348', '6.1288847'),
 ('Grenoble', '45.1875602', '5.7357819'),
 ('Lyon', '45.7578137', '4.8320114'),
 ('Gorges du Verdon', '43.7496562', '6.3285616'),
 ('Bormes les Mimosas', '43.1572172', '6.329253867921363'),
 ('Cassis', '43.2140359', '5.5396318'),
 ('Marseille', '43.2961743', '5.3699525'),
 ('Aix en Provence', '43.5298424', '5.4474738'),
 ('Avignon', '43.9492493', '4.8059012'),
 ('Uzes', '44.0121279', '4.4196718'),
 ('Nimes', '43.8374249', '4.3600687'),
 ('Aigues Mortes', '43.5658225', '4.1912837'),
 ('Saintes Maries de la mer', '43.4522771', '4.4287172'),
 ('Collioure', '42.52505', '3.0831554'),
 ('Carcassonne', '43.2130358', '2.3491069'),
 ('Ariege', '42.9455368', '1.4065544156065486'),
 ('Toulouse', '43.6044622', '1.4442469'),
 ('Montauban', '44.0175835', '1.3549991'),
 ('Biarritz', '43.4832523', '-1.5592776'),
 ('Bayonne', '43.4933379', '-1.475099'),
 ('La Rochelle', '46.1591126', '-1.1520434')]

In [22]:
data = pd.DataFrame(coordinate_list, columns = ['place', 'latitude', 'longitude'])

In [23]:
data.head()

               place    latitude           longitude
0  Mont Saint Michel  48.6359541  -1.511459954959514
1            St Malo   48.649518          -2.0260409
2             Bayeux  49.2764624          -0.7024738
3           Le Havre  49.4938975           0.1079732
4              Rouen  49.4404591           1.0939658

Recup de la météo des 7 prochains jours pour chaque ville

In [54]:
base_endpoint = 'https://api.openweathermap.org/data/2.5/onecall?'

In [55]:
import config
KEY = config.api_key

In [56]:
params = {'lat': '43.4933379',
          'lon': '-1.475099',
          'appid': KEY,
          'units': 'metric'
          }

In [57]:
response = r.get(base_endpoint, params=params)

In [58]:
response.status_code

200

In [59]:
response.json().keys()

dict_keys(['lat', 'lon', 'timezone', 'timezone_offset', 'current', 'minutely', 'hourly', 'daily', 'alerts'])

In [61]:
len(response.json()['daily'])

8

In [62]:
response.json()['daily'][7]

{'dt': 1657627200,
 'sunrise': 1657600553,
 'sunset': 1657655202,
 'moonrise': 1657652880,
 'moonset': 1657593300,
 'moon_phase': 0.45,
 'temp': {'day': 24.53,
  'min': 18.29,
  'max': 24.53,
  'night': 20.24,
  'eve': 22.73,
  'morn': 18.8},
 'feels_like': {'day': 24.66, 'night': 20.43, 'eve': 22.83, 'morn': 18.54},
 'pressure': 1020,
 'humidity': 62,
 'dew_point': 16.29,
 'wind_speed': 4.95,
 'wind_deg': 264,
 'wind_gust': 8.26,
 'weather': [{'id': 800,
   'main': 'Clear',
   'description': 'clear sky',
   'icon': '01d'}],
 'clouds': 2,
 'pop': 0,
 'uvi': 10}

In [111]:
response.json()['daily'][0]['rain']

KeyError: 'rain'

In [66]:
# --- display nicely date and time from unixtimestamp ---

# importing datetime module
import datetime
 
# assigned unix time
unix_time = 1656417600
 
date_time = datetime.datetime.fromtimestamp(unix_time)
 
# print unix time stamp
print("Unix_Time =>",unix_time)
 
# displaying date and time in a regular
# string format
print("Date & Time =>" ,
      date_time.strftime('%Y-%m-%d %H:%M:%S'))

Unix_Time => 1656417600
Date & Time => 2022-06-28 14:00:00

In [67]:
# --- test list of dict into dataframe ---

list_of_dict = [{'dt': 1656417600,
  'sunrise': 1656390429}, {'dt': 1656417600,
  'sunrise': 1656390429}]

pd.DataFrame(list_of_dict)

           dt     sunrise
0  1656417600  1656390429
1  1656417600  1656390429

In [68]:
forecast_dict= {'dt': 1656417600,
  'sunrise': 1656390429,
  'sunset': 1656445853,
  'moonrise': 1656387120,
  'moonset': 1656445800,
  'moon_phase': 0.98,
  'temp': {'day': 21.14,
   'min': 13.48,
   'max': 22.01,
   'night': 18.86,
   'eve': 22.01,
   'morn': 14.44},
  'feels_like': {'day': 20.8, 'night': 18.79, 'eve': 21.94, 'morn': 14.05},
  'pressure': 1020,
  'humidity': 57,
  'dew_point': 12.07,
  'wind_speed': 4.29,
  'wind_deg': 317,
  'wind_gust': 3.68,
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01d'}],
  'clouds': 1,
  'pop': 0,
  'uvi': 8.49}

In [114]:
def cleaning_dict(forecast_dict):

    clean_dict = {}
    
    for key in forecast_dict.keys():

        if type(forecast_dict[key]) == list:

            for i in forecast_dict[key][0].keys():
                clean_dict[key+'_'+i] = forecast_dict[key][0][i]

        elif type(forecast_dict[key]) == dict:

            for i in forecast_dict[key].keys():
                clean_dict[key+'_'+i] = forecast_dict[key][i]

        else:
            clean_dict[key] = forecast_dict[key]

    return clean_dict

In [115]:
def one_city_request(base_endpoint, KEY, city_loc):
    
    params = {'lat': city_loc[1],
          'lon': city_loc[2],
          'appid': KEY,
          'units': 'metric'
          }

    response = r.get(base_endpoint, params=params)
    return response.json()['daily']

In [116]:
base_endpoint = 'https://api.openweathermap.org/data/2.5/onecall?'
KEY = '83d608199d5e9f779357657035773c8b'

In [117]:
result_list = []

for i, city_loc in enumerate(coordinate_list):
    
    weather_request = one_city_request(base_endpoint, KEY, city_loc)

    for forecast_dict in weather_request:

        base_dict = {'id': i,
                'place': city_loc[0],
                'lat': city_loc[1],
                'lon': city_loc[2],
                }
    
        base_dict.update(cleaning_dict(forecast_dict))
        result_list.append(base_dict)

    print(f'{i} city done')

0 city done
1 city done
2 city done
3 city done
4 city done
5 city done
6 city done
7 city done
8 city done
9 city done
10 city done
11 city done
12 city done
13 city done
14 city done
15 city done
16 city done
17 city done
18 city done
19 city done
20 city done
21 city done
22 city done
23 city done
24 city done
25 city done
26 city done
27 city done
28 city done
29 city done
30 city done
31 city done
32 city done
33 city done
34 city done

In [118]:
len(result_list)

280

In [119]:
data_weather = pd.DataFrame(result_list)

In [120]:
data_weather.shape

(280, 34)

In [121]:
data_weather.columns

Index(['id', 'place', 'lat', 'lon', 'dt', 'sunrise', 'sunset', 'moonrise',
       'moonset', 'moon_phase', 'temp_day', 'temp_min', 'temp_max',
       'temp_night', 'temp_eve', 'temp_morn', 'feels_like_day',
       'feels_like_night', 'feels_like_eve', 'feels_like_morn', 'pressure',
       'humidity', 'dew_point', 'wind_speed', 'wind_deg', 'wind_gust',
       'weather_id', 'weather_main', 'weather_description', 'weather_icon',
       'clouds', 'pop', 'uvi', 'rain'],
      dtype='object')

In [127]:
data_weather[~data_weather['rain'].isna()]

,id,place,lat,lon,dt,sunrise,sunset,moonrise,moonset,moon_phase,...,wind_deg,wind_gust,weather_id,weather_main,weather_description,weather_icon,clouds,pop,uvi,rain
65,8,Strasbourg,48.584614,7.7507127,1657191600,1657164893,1657222349,1657195980,1657149120,0.25,...,321,7.92,500,Rain,light rain,10d,50,0.56,4.05,0.36
73,9,Chateau du Haut Koenigsbourg,48.249489800000006,7.34429620253195,1657191600,1657165081,1657222357,1657196040,1657149240,0.25,...,322,7.41,500,Rain,light rain,10d,37,0.45,5.14,0.10
81,10,Colmar,48.0777517,7.3579641,1657191600,1657165123,1657222308,1657196040,1657149240,0.25,...,326,7.35,500,Rain,light rain,10d,21,0.36,5.14,0.12
89,11,Eguisheim,48.0447968,7.3079618,1657191600,1657165143,1657222312,1657196040,1657149240,0.25,...,310,7.05,500,Rain,light rain,10d,21,0.34,5.14,0.13
97,12,Besancon,47.2380222,6.0243622,1657191600,1657165660,1657222412,1657196340,1657149540,0.25,...,342,6.59,500,Rain,light rain,10d,2,0.24,6.90,0.38
141,17,Gorges du Verdon,43.7496562,6.3285616,1657537200,1657512178,1657567016,1657560180,1657501920,0.41,...,177,4.45,500,Rain,light rain,10d,40,0.28,10.00,0.51
142,17,Gorges du Verdon,43.7496562,6.3285616,1657623600,1657598626,1657653383,1657651020,1657591320,0.45,...,161,7.30,500,Rain,light rain,10d,2,0.57,10.00,3.33
143,17,Gorges du Verdon,43.7496562,6.3285616,1657710000,1657685075,1657739749,1657741140,1657681500,0.50,...,160,4.69,500,Rain,light rain,10d,73,0.65,10.00,1.04
151,18,Bormes les Mimosas,43.1572172,6.329253867921363,1657710000,1657685196,1657739628,1657740960,1657681680,0.50,...,219,4.99,500,Rain,light rain,10d,62,0.57,10.00,1.71
159,19,Cassis,43.2140359,5.5396318,1657710000,1657685374,1657739829,1657741200,1657681860,0.50,...,214,4.62,500,Rain,light rain,10d,44,0.28,9.00,0.40
167,20,Marseille,43.2961743,5.3699525,1657710000,1657685398,1657739886,1657741260,1657681920,0.50,...,210,5.77,500,Rain,light rain,10d,19,0.26,9.00,0.19
175,21,Aix en Provence,43.5298424,5.4474738,1657710000,1657685332,1657739915,1657741320,1657681800,0.50,...,302,6.81,500,Rain,light rain,10d,12,0.27,9.00,0.27
216,27,Collioure,42.52505,3.0831554,1657105200,1657081000,1657135664,1657106400,1657062720,0.23,...,274,12.35,500,Rain,light rain,10d,100,0.51,7.69,1.25
232,29,Ariege,42.9455368,1.4065544156065486,1657105200,1657081315,1657136154,1657106820,1657063140,0.23,...,179,7.59,501,Rain,moderate rain,10d,52,0.55,9.26,5.45
256,32,Biarritz,43.4832523,-1.5592776,1657108800,1657081913,1657136980,1657107540,1657063860,0.23,...,284,6.72,500,Rain,light rain,10d,93,0.71,8.27,2.44
264,33,Bayonne,43.4933379,-1.475099,1657108800,1657081890,1657136962,1657107540,1657063860,0.23,...,284,7.32,500,Rain,light rain,10d,95,0.67,7.92,2.31

In [129]:
data_weather.to_csv('WeatherForecast 2022-07-06.csv')